$member_avatar_size: 2.8rem;

.MembersTab {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.Member {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.4rem;
  cursor: pointer;

  &:hover {
    background-color: #e7e7e7;
  }

  .member-avatar {
    min-width: 0;
    height: $member_avatar_size;
    width: $member_avatar_size;
    margin: 0 1rem 0 0.3rem;
  }

  .member-info {
    flex: 1;

    .member-name {
      font-size: 0.9rem;
      font-weight: bold;
    }

    .member-last-seen {
      font-size: 0.8rem;
      font-style: italic;
    }
  }
}
