.ChatRight {
  position: absolute;
  left: calc(100% - vars.$ChatRightWidth);
  width: vars.$ChatRightWidth;
  height: 100%;
  transition: left vars.$ChatRightSlippingTime;
}

.collapsed {
  left: 100%;
}
