.ChatroomGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;

  .name {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0.2rem 1.2rem;
    cursor: pointer;

    // color: white;
    // background-color: gray;

    .value {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
    }

    .icon-btn {
      width: 1.2rem;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s;
    }

    .icon-open {
      transform: rotate(0);
    }

    .icon-close {
      transform: rotate(-90deg);
    }
  }

  .content {
    background-color: #fcfdff;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 1rem;
    //
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 3s, opacity 1.5s 0.2s;
    transition-timing-function: cubic-bezier(0.22, 0.68, 0, 1.71);
  }

  .content-open {
    overflow: auto;
    max-height: 50rem;
    opacity: 1;
    animation: hide-scroll 2s backwards;

    @keyframes hide-scroll {
      from,
      to {
        overflow: hidden;
      }
    }
  }
}
