@mixin margo {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin autumn {
  background: #dad299; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #b0dab9,
    #dad299
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #b0dab9,
    #dad299
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin velvet {
  background: #e1eec3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f05053,
    #e1eec3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f05053,
    #e1eec3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin earthly {
  background: #649173; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #dbd5a4,
    #649173
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #dbd5a4,
    #649173
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin sirius-tamed {
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #d4d3dd,
    #efefbb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #d4d3dd,
    #efefbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin pale-wood {
  background: #eacda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #d6ae7b,
    #eacda3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #d6ae7b,
    #eacda3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin dania {
  background: #be93c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    #be93c5,
    #a2a3d9,
    #86b2df,
    #76bdda,
    #7bc6cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right bottom,
    #be93c5,
    #a2a3d9,
    #86b2df,
    #76bdda,
    #7bc6cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
